@import "../../palette.scss";

.projects {
  background-color: $color7;
  .main-content {
    padding-bottom: 40px;
    border-bottom: 1px solid #2b2f36;
  }
}

.gallery {
  width: 90%;
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.6rem;
  margin: 0 auto;
  grid-column-gap: 1.6rem;
  @media only screen and (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  overflow-x: hidden;
  border: 1px solid #f5f5f5;
  margin-bottom: 1.6rem;
  background: #f5f5f5;

  .title {
    position: absolute;
    margin-top: 0;
    top: -20%;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    color: black;
    text-align: center;
    font-size: 2rem;
    @media screen and (max-width: 400px) {
      font-size: 1.6rem;
    }
    span {
      display: block;
      font-size: 1.6rem;
      color: #e31b6d;
    }
  }

  &:hover .title {
    position: absolute;
    top: 20%;
    opacity: 1;
    z-index: 2;
  }

  .project_picture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    object-fit: contain;
  }

  &:hover .project_picture {
    opacity: 0;
  }

  .learn_more {
    display: block;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, 0);
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid red;
    padding: 10px 16px;
    font-size: 1.6rem;
    @media screen and (max-width: 400px) {
      font-size: 1.4rem;
      padding: 5px 8px;
    }
  }
  &:hover .learn_more {
    display: block;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -20%);
    z-index: 2;
    transition: all 0.3s ease-in-out;
    @media screen and (max-width: 600px) {
      top: 60%;
    }
  }
}

#project1 {
  top: -50%;
  height: auto;
}
#project4 {
  object-fit: cover;
}

.project-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // border: 5px solid black;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;

  max-width: 700px;
  max-height: 750px;
  height: 80vh;
  width: 100%;
  z-index: 99;
  font-size: 1.6rem;
}

.project-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 4;
  opacity: 1;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transition: opacity 150ms;
}

.ReactModal__Content--before-close {
  opacity: 0;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 210px;
}

.slide {
  width: 100%;
  height: 300px;
  border-color: red;
  cursor: pointer;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
