@import '../../palette.scss';

.section-header {
  font-size: 5.5rem;
  color: $color3;
  margin: 0 0 3.6rem 0;
  text-align: center;
  @media screen and (max-width: 1000px) {
    font-size: 4.4rem;
  } 
  @media screen and (max-width: 600px) {
    font-size: 3.3rem;
  } 
}

.section {
  padding: 40px 60px 80px 60px;
  @media screen and (max-width: 1200px) {
    padding: 30px 45px 60px 30px;
  } 
  @media screen and (max-width: 800px) {
    padding: 20px 30px 40px 20px;
  } 
}

// Content inside of a section
.main-content {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}