@import "../../palette.scss";

footer {
  border-top: 1px solid rgba(255, 255, 255, .15);
  background-color: black;
  position: relative;
  color: $dark-text-color;
  padding: 20px 40px 60px 40px;
  ul {  
    padding: 0;
 
    list-style: none;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .responsive_footer {
    font-size: 1.3rem;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    p {
      margin-bottom: 1rem;
      text-align: center;
      @media screen and (min-width: 768px) {
        margin: 0;
        text-align: left;
      } 
    }

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    } 
  }

  li {
    display: inline-block;
    margin: 0 1.2rem;
    // Hide bullet for first link
    &:first-child a::before{
      display: none;
    }
  }

  a {
    color: $dark-text-color;
    font-size: 1.3rem;
    text-decoration: none;
    transition: all 0.3s;
    position: relative;
    &:hover {
      color: #fff;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -12px;
      transform: translate(0, -50%);
      display: block;
      width: 2px;
      height: 2px;
      background: #fff;
      border-radius: 100%;
    }
  }
}

#return-to-home {
  display: block;
  margin-bottom: 3.2rem;
  position: absolute;
  top: -18%;
  left: 50%;
  transform: translate(-50%, 0%);

  @media screen and (max-width: 400px) {
    transform: translate(-60%, 0%);
  }
}


