/* Coolors Exported Palette - coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */

$color1: #2b2d42;
$color2: #8d99ae;
$color3: #edf2f4;
$color4: #ef233c;
$color5: #d90429;
$color6: #40e0d0;
$color7: #191b1f;