@import url(//fonts.googleapis.com/css?family=Roboto);

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* 62.5% of 16px = 10px making things easier to calculate when using rem*/

  // @media (min-width: 20rem) {
  // /* 20*16px = 320px */
  // background-color: lemonchiffon;
  // // font-size: 200%;
  // /* 200% of 16px = 32px */
  // }

  // @media (min-width: 30em) {
  // /* 30*16px = 480px */
  // background-color: lightblue;
  // font-size: 300%; /* 300% of 16px = 48px */
  // }
}

a {
  color: #26a8ed;
  transition: all 0.3s;
  &:hover {
    color: #0a95ff;
  }
}

blockquote {
  margin: 0 0 1.5em;
  padding: 0 1.5em;
  border-left: 3px solid #3eb0ef;
  p:first-child {
    margin-bottom: 0 !important;
    font-style: italic;
    
  }
  p:nth-child(2) {
    margin-top: 1rem !important;
  }
  .author {
    text-align: right;
    margin-bottom: 0 !important;
    margin-right: 2rem;
  }

  // For one line quotes
  .inline-author {
    text-align: right;
  }

  &.one-line-quote {
    p {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

:root {
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
